<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.sidi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 네트워크 상태 권한 요청 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".InitSelectPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".search.ViewReport" />
        <activity android:name=".search.ViewDetail" />
        <activity android:name=".mypage.MySketch" />
        <activity android:name=".mypage.RecentDesign" />
        <activity android:name=".mypage.RecentTag" />
        <activity android:name=".search.SearchResult" />
        <activity android:name=".main.ETCTab" />
        <activity android:name=".main.MyPageTab" />
        <activity android:name=".main.SearchingTab" />
        <activity android:name=".main.MainPageTab" />
    </application>

</manifest>